.top-nav {
  background: #000;
  padding: 18px 87px 14px 29px;
}

.top-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav img {
  width: 178px;
}

.top-nav a {
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}

.top-nav a:hover {
  text-decoration: underline;
}
